# 建立 Pipeline

Pipeline 幫助使用者於每個交易日整理且計算價格、交易量、量化指標等交易所需的數據。在編寫交易策略時，會在 initialize 函式以 `attach_pipeline` 將 Pipeline 中夾帶的資料導入策略當中。

### zipline.pipeline.Pipeline

#### Parameters:
* columns: _dict_, optional
        決定 Pipeline 所攜帶的資料。
* screen: _zipline.pipeline.Filter_, optional
        設定過濾掉部分資產標的的條件。

於此例中，我們首先 ingest 台積電與旺宏股價並記錄於 `TWEquityPricing` 資料集中。

In [7]:
import tejapi
import pandas as pd
import numpy as np

import os
os.environ['TEJAPI_BASE'] = 'https://api.tej.com.tw'
os.environ['TEJAPI_KEY'] = 'your key'
os.environ['ticker'] = '2330 2337'
os.environ['mdate'] = '20170101 20230701'

from zipline.pipeline import Pipeline
from zipline.pipeline.data import TWEquityPricing

接著宣告一個 `make_pipeline`，其中設定 `columns` 為 TWEquityPricing 中的最新收盤價格。

In [8]:
def make_pipeline():
    return Pipeline(columns={'close':TWEquityPricing.close.latest})

In [9]:
my_pipe = make_pipeline()

## 運行 Pipeline

接著我們使用 `run_pipeline`，`run_pipeline` 僅用於研究用並不用於編寫交易策略中。觀察 Pipeline 輸出樣式，可以發現 Pipeline 會提供每日每公司的收盤價。

### zipline.master.run_pipeline

#### Parameters:
* pipeline: _zipline.pipeline.Pipeline_
        已經宣告的 pipeline。
* start_date: _str_ or _pd.Timestamp_
        起始日期。
* end_date: _str_ or _pd.Timestamp_
        結束日期。

In [16]:
from zipline.master import run_pipeline

In [17]:
result = run_pipeline(my_pipe, '2018-01-03', '2022-12-30')

In [18]:
result.head()

                                                 close
2022-12-02 00:00:00+00:00 Equity(0 [1216])       65.90
                          Equity(1 [IR0001])  31157.86
2022-12-05 00:00:00+00:00 Equity(0 [1216])       65.00
                          Equity(1 [IR0001])  31070.56
2022-12-06 00:00:00+00:00 Equity(0 [1216])       65.40