# TEJTOOLAPI 資料撈取整併
運用 TEJTOOLAPI 整併資料。TEJTOOLAPI 主要整併股價與不同屬性的資料庫，透過輸入股票代碼 (TICKERS) 和欄位 (FIELD) 後，可將欲抓取的資料整併為以日頻率的 DataFrame。

目前可抓取的資料庫為：
- 量化股價([TWN/APIPRCD](https://api.tej.com.tw/columns.html?idCode=TWN/APIPRCD))
- 量化月營收([TWN/APISALE](https://api.tej.com.tw/columns.html?idCode=TWN/APISALE))
- 量化財務([TWN/AFESTM1](https://api.tej.com.tw/columns.html?idCode=TWN/AFESTM1)、[TWN/AINVFINQ](https://api.tej.com.tw/columns.html?idCode=TWN/AINVFINQ)、[TWN/AINVFINQA](https://api.tej.com.tw/columns.html?idCode=TWN/AINVFINQA))
- 量化籌碼_日([TWN/APISHRACT](https://api.tej.com.tw/columns.html?idCode=TWN/APISHRACT))
- 量化籌碼_周[TWN/APISHRACTW](https://api.tej.com.tw/columns.html?idCode=TWN/APISHRACTW))
- 交易註記([TWN/APISTKATTR](https://api.tej.com.tw/columns.html?idCode=TWN/APISTKATTR))
- 交易日期表([TWN/TRADEDAY_TWSE](https://api.tej.com.tw/columns.html?idCode=TWN/TRADEDAY_TWSE))

主要整併方法是以交易日期表為索引整併股價與不同屬性的資料，以下示範 TEJTOOLAPI 整併股價與不同屬性資料表的所有欄位。

tejtoolapi 相關欄位 : https://github.com/tejtw/TQuant-Lab/blob/main/Problem/TEjToolAPI%20%E6%AC%84%E4%BD%8D%E8%B3%87%E8%A8%8A.xlsx<br>

### 1. 環境設定

In [2]:
import os
os.environ['TEJAPI_KEY'] = "your key" 
os.environ['TEJAPI_BASE'] = "https://api.tej.com.tw"
import TejToolAPI 
from zipline.data import bundles

### 2. 取得 tickers
2.1 取得 bundle 的 tickers

In [3]:
bundle_data = bundles.load('tquant')
universe = bundle_data.asset_finder.retrieve_all(bundle_data.asset_finder.equities_sids)#.remove(symbol('IR0001'))   
tickers = [col.symbol for col in universe]

2.2 自行 key 入 tickers

In [4]:
tickers = ['2330','2454','2317','2882','2881']

### 3. tejtoolapi 取得單獨資料庫

3.1、月營收的欄位

In [5]:
ticker = tickers
columns = ['Sales_Accu_LastYear', 'Sales_Accu_3M',
       'Sales_Per_Share_Accu_12M', 'YoY_Accu_Sales', 'YoY_Monthly_Sales',
       'Sales_Per_Share_Accu_3M', 'Sales_Accu_3M_LastYear', 'Sales_Monthly',
       'YoY_AccuSales_12M', 'YoY_Accu_Sales_3M', 'MoM_Monthly_Sales',
       'Sales_Accumulated', 'QoQ_Accu_Sales_3M', 'MoM_Accu_Sales_3M',
       'Sales_Monthly_LastYear', 'Outstanding_Shares_1000_Shares']

data = TejToolAPI.get_history_data(ticker=ticker, 
                                   columns=columns,
                                   transfer_to_chinese=False,                                   
                                  )
data

,coid,mdate,QoQ_Accu_Sales_3M,Sales_Accu_LastYear,Sales_Per_Share_Accu_12M,YoY_Accu_Sales,Sales_Per_Share_Accu_3M,YoY_Monthly_Sales,Sales_Accumulated,Sales_Accu_3M,MoM_Monthly_Sales,YoY_Accu_Sales_3M,MoM_Accu_Sales_3M,Sales_Monthly,Outstanding_Shares_1000_Shares,YoY_AccuSales_12M,Sales_Accu_3M_LastYear,Sales_Monthly_LastYear
0,2317,2013-01-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2317,2013-01-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2317,2013-01-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2317,2013-01-07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2317,2013-01-08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13020,2882,2023-08-22,101.37,263591906.0,19.27,-22.61,8.08,61.64,203992824.0,118467386.0,-10.94,20.39,26.02,41694789.0,14669210.0,-42.94,98405867.0,25795642.0
13021,2882,2023-08-23,101.37,263591906.0,19.27,-22.61,8.08,61.64,203992824.0,118467386.0,-10.94,20.39,26.02,41694789.0,14669210.0,-42.94,98405867.0,25795642.0
13022,2882,2023-08-24,101.37,263591906.0,19.27,-22.61,8.08,61.64,203992824.0,118467386.0,-10.94,20.39,26.02,41694789.0,14669210.0,-42.94,98405867.0,25795642.0
13023,2882,2023-08-25,101.37,263591906.0,19.27,-22.61,8.08,61.64,203992824.0,118467386.0,-10.94,20.39,26.02,41694789.0,14669210.0,-42.94,98405867.0,25795642.0
13024,2882,2023-08-28,101.37,263591906.0,19.27,-22.61,8.08,61.64,203992824.0,118467386.0,-10.94,20.39,26.02,41694789.0,14669210.0,-42.94,98405867.0,25795642.0

3.2、量化籌碼_周 - 集保庫存欄位

In [6]:
ticker = tickers
columns = ['Total_Custodied_Shares_1000_Lots',
       'Custodied_Under_400_Lots_Total_Lots',
       'Custodied_Lots_Between_800_1000_Total_Lots',
       'Custodied_Larger_Than_400_Lots_Pct',
       'Custodied_Lots_Between_400_600_Total_Lots',
       'Custodied_Lots_Between_600_800_Pct', 'Pledged_Stock_Shares_1000_Lots',
       'Custodied_Under_400_Lots_Pct',
       'Custodied_Lots_Between_400_600_Total_Holders',
       'Custodied_Lots_Between_800_1000_Total_Holders',
       'Custodied_Under_400_Lots_Total_Holders',
       'Custodied_Lots_Between_400_600_Pct',
       'Custodied_Lots_Between_800_1000_Pct',
       'Custodied_Greater_Than_1000_Lots_Pct']

data1 = TejToolAPI.get_history_data(ticker=ticker, 
                                   columns=columns,
                                   transfer_to_chinese=False,                                    
                                  )                                 
    
data1

,coid,mdate,Custodied_Lots_Between_800_1000_Total_Lots,Custodied_Under_400_Lots_Pct,Pledged_Stock_Shares_1000_Lots,Total_Custodied_Shares_1000_Lots,Custodied_Greater_Than_1000_Lots_Pct,Custodied_Lots_Between_400_600_Total_Holders,Custodied_Under_400_Lots_Total_Holders,Custodied_Larger_Than_400_Lots_Pct,Custodied_Lots_Between_800_1000_Total_Holders,Custodied_Under_400_Lots_Total_Lots,Custodied_Lots_Between_400_600_Pct,Custodied_Lots_Between_600_800_Pct,Custodied_Lots_Between_800_1000_Pct,Custodied_Lots_Between_400_600_Total_Lots
0,2317,2013-01-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2317,2013-01-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2317,2013-01-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2317,2013-01-07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2317,2013-01-08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13020,2882,2023-08-22,100182.0,21.12,2155012.0,14669210.0,76.24,341.0,528316.0,78.83,112.0,3103537.0,1.13,0.78,0.68,166523.0
13021,2882,2023-08-23,100182.0,21.12,2155012.0,14669210.0,76.24,341.0,528316.0,78.83,112.0,3103537.0,1.13,0.78,0.68,166523.0
13022,2882,2023-08-24,100182.0,21.12,2155012.0,14669210.0,76.24,341.0,528316.0,78.83,112.0,3103537.0,1.13,0.78,0.68,166523.0
13023,2882,2023-08-25,100182.0,21.12,2155012.0,14669210.0,76.24,341.0,528316.0,78.83,112.0,3103537.0,1.13,0.78,0.68,166523.0
13024,2882,2023-08-28,100182.0,21.12,2155012.0,14669210.0,76.24,341.0,528316.0,78.83,112.0,3103537.0,1.13,0.78,0.68,166523.0

3.3、量化籌碼_日& 交易註記 欄位

In [7]:
ticker = tickers
columns =['Market', 'Dealer_Proprietary_Diff_Vol', 'Margin_Sale',
       'Cash_Redemption', 'Margin_Short_Balance_Amt',
       'Margin_Short_Balance_Vol', 'Dealer_Hedge_Buy_Vol',
       'Day_Trading_Volume_1000_Shares', 'SBL_Short_Returns_Vol',
       'Margin_Maintenance_Ratio', 'Account_Maintenance_Ratio',
       'Margin_Stock_Redemtion', 'Total_Sell_Amt',
       'Margin_Short_Maintenance_Ratio', 'SBL_Short_Balance_Vol',
       'Dealer_Hedge_Buy_Amt', 'Total_Buy_Amt', 'Total_Diff_Amt',
       'Fund_Diff_Vol', 'Dealer_Proprietary_Buy_Vol',
       'Dealer_Proprietary_Sell_Amt', 'Margin_Day_Trading_Amt',
       'Total_Diff_Vol', 'SBL_Short_Sales_Vol', 'SBL_Short_Balance_Amt',
       'Dealer_Stock_Holding_Pct', 'Dealer_Hedge_Sell_Vol', 'Qfii_Buy_Vol',
       'Qfii_Stock_Holding_Pct', 'Qfii_Sell_Vol', 'Fund_Stock_Holding_Pct',
       'Dealer_Proprietary_Buy_Amt', 'Dealer_Hedge_Diff_Amt', 'Qfii_Sell_Amt',
       'Margin_Day_Trading_Vol', 'Fund_Sell_Amt', 'Day_Trading_Pct',
       'Margin_Short_Sales', 'Fund_Diff_Amt', 'Margin_Balance_Ratio',
       'SBL_Short_Sales_Amt', 'Fund_Buy_Vol', 'Qfii_Buy_Amt',
       'Margin_Balance_Vol', 'Qfii_Diff_Vol', 'Margin_Purchase',
       'Dealer_Hedge_Sell_Amt', 'Dealer_Proprietary_Sell_Vol', 'Fund_Sell_Vol',
       'Margin_Quota', 'Qfii_Diff_Amt', 'Total_Sell_Vol', 'Margin_Short_Quota',
       'Margin_Short_Coverting', 'Fund_Buy_Amt', 'Dealer_Proprietary_Diff_Amt',
       'Total_Buy_Vol', 'Margin_Balance_Amt', 'SBL_Short_Quota',
       'Dealer_Hedge_Diff_Vol', 'Component_Stock_of_TPEx200_Fg', 'Industry',
       'Component_Stock_of_MSCI_TW_Fg', 'Component_Stock_of_High_Dividend_Fg',
       'Security_Type_Chinese', 'Suspension_of_Buy_After_Day_Trading_Fg',
       'Matching_Period', 'Component_Stock_of_TWN50_Fg',
       'Component_Stock_of_MidCap100_Fg', 'Suspended_Trading_Stock_Fg',
       'Market_Board', 'Full_Delivery_Stock_Fg', 'Disposition_Stock_Fg',
       'Security_Type_English', 'Attention_Stock_Fg', 'Industry_Eng',
       'Component_Stock_of_TPEx50_Fg', 'Limit_Up_or_Down_in_Opening_Fg',
       'Limit_Up_or_Down']

data2 = TejToolAPI.get_history_data(ticker=tickers, 
                                   columns=columns,
                                   transfer_to_chinese=False,                                    
                                  )                                 
    
data2

,coid,mdate,Market,SBL_Short_Sales_Amt,SBL_Short_Quota,Total_Diff_Vol,Margin_Short_Balance_Amt,Margin_Balance_Ratio,Margin_Maintenance_Ratio,Qfii_Diff_Vol,...,Component_Stock_of_MidCap100_Fg,Disposition_Stock_Fg,Security_Type_Chinese,Industry,Component_Stock_of_TWN50_Fg,Suspension_of_Buy_After_Day_Trading_Fg,Suspended_Trading_Stock_Fg,Limit_Up_or_Down_in_Opening_Fg,Component_Stock_of_MSCI_TW_Fg,Limit_Up_or_Down
0,2317,2013-01-02,TWSE,536.15,9459.0,-3115.0,411762.12,4.36,162.95,-2168.0,...,,,普通股,M2331 其他電子業指數,Y,,,,Y,
1,2317,2013-01-03,TWSE,0.00,9500.0,-1655.0,480954.00,5.12,163.80,2320.0,...,,,普通股,M2331 其他電子業指數,Y,,,,Y,
2,2317,2013-01-04,TWSE,9438.43,9676.0,-9610.0,488592.97,5.23,161.96,-7810.0,...,,,普通股,M2331 其他電子業指數,Y,,,,Y,
3,2317,2013-01-07,TWSE,7407.35,9583.0,-22566.0,495856.76,5.17,160.11,-17603.0,...,,,普通股,M2331 其他電子業指數,Y,,,,Y,
4,2317,2013-01-08,TWSE,0.00,9593.0,-17842.0,319181.95,3.21,160.84,-12067.0,...,,,普通股,M2331 其他電子業指數,Y,,,,Y,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13020,2882,2023-08-22,TWSE,1843.78,5935.0,-3843.0,24238.94,3.26,167.47,-3183.0,...,,,普通股,M2800 金融保險類指數,Y,,,,Y,
13021,2882,2023-08-23,TWSE,12523.98,5846.0,-6178.0,23393.01,3.12,166.36,-1388.0,...,,,普通股,M2800 金融保險類指數,Y,,,,Y,
13022,2882,2023-08-24,TWSE,10672.97,5837.0,-595.0,23791.82,3.17,166.18,-1069.0,...,,,普通股,M2800 金融保險類指數,Y,,,,Y,
13023,2882,2023-08-25,TWSE,43662.25,5761.0,749.0,24078.77,3.20,165.63,637.0,...,,,普通股,M2800 金融保險類指數,Y,,,,Y,
13024,2882,2023-08-28,TWSE,21781.77,5773.0,6160.0,23679.77,3.08,168.93,5753.0,...,,,普通股,M2800 金融保險類指數,Y,,,,Y,

3.4、抓取財務資料參數設定

`ticker`
- 單一股票  :['2330'] 
- 多股      :['2330','2317']

`columns`
- 欄位: columns=['r408','r409','r410','r502']

`transfer_chinese_columns`
- 預設 transfer_chinese_columns = False
- 測試欄位轉換成中文(transfer_chinese_columns = True)

`fin_type = [A, Q, TTM]`
- A: 表示累積
- Q: 表示單季
- TTM: 表示移動4季

`include_self_acc`
- 投資用財務包含自結和董事會決議數(include_self_acc = 'Y')
- 僅投資用財務(include_self_acc = 'N')

3.4.1、財務僅會計師核閱

In [8]:
columns =['Total_Operating_Cost','Sales_Per_Share','Return_Rate_on_Equity_A_percent',
       'Proceeds_from_Disposal_of_Fixed_and_Intangible_Assets',
       'Cash_Flow_from_Operating_Activities', 
       'Other_Adjustment_from_Operating_Activities', 'Borrowings',       
       'Total_Operating_Expenses', 'Gross_Margin_Rate_percent',
       'Sales_Growth_Rate', 'Net_Income_Per_Share','Total_Assets',
       'Short_Term_Borrowings_Financial_Institutions',
       'Pre_Tax_Income_Growth_Rate', 'Total_Equity_Growth_Rate',
       'Total_Operating_Income','Total_Assets_Turnover',
       'Operating_Income_Per_Share','Pre_Tax_Income_Rate_percent', 
       'Gross_Profit_Loss_from_Operations','Return_on_Total_Assets',
       'Depreciation_and_Amortisation','Total_Interest_Income',
       'Fixed_Asset_Turnover', 'Decrease_Increase_in_Prepayments',]

fin_type = ['A','Q']

data = TejToolAPI.get_history_data(ticker=tickers, columns=columns, transfer_to_chinese=False, fin_type=fin_type, include_self_acc='N')
data

,coid,mdate,Operating_Income_Per_Share_A,Gross_Profit_Loss_from_Operations_A,Proceeds_from_Disposal_of_Fixed_and_Intangible_Assets_A,Total_Equity_Growth_Rate_A,Total_Interest_Income_A,Pre_Tax_Income_Growth_Rate_A,Total_Operating_Cost_A,Gross_Margin_Rate_percent_A,...,Return_Rate_on_Equity_A_percent_Q,Net_Income_Per_Share_Q,Depreciation_and_Amortisation_Q,Other_Adjustment_from_Operating_Activities_Q,Fixed_Asset_Turnover_Q,Short_Term_Borrowings_Financial_Institutions_Q,Total_Operating_Expenses_Q,Total_Assets_Q,Borrowings_Q,Cash_Flow_from_Operating_Activities_Q
0,2317,2013-01-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2317,2013-01-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2317,2013-01-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2317,2013-01-07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2317,2013-01-08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13020,2882,2023-08-22,0.49,30537296.0,58582.0,-9.26,NaN,-81.82,37872951.0,44.64,...,1.1,0.49,2104686.0,75266866.0,0.41,76899211.0,23299872.0,1.224822e+10,144807746.0,84262064.0
13021,2882,2023-08-23,0.49,30537296.0,58582.0,-9.26,NaN,-81.82,37872951.0,44.64,...,1.1,0.49,2104686.0,75266866.0,0.41,76899211.0,23299872.0,1.224822e+10,144807746.0,84262064.0
13022,2882,2023-08-24,0.49,30537296.0,58582.0,-9.26,NaN,-81.82,37872951.0,44.64,...,1.1,0.49,2104686.0,75266866.0,0.41,76899211.0,23299872.0,1.224822e+10,144807746.0,84262064.0
13023,2882,2023-08-25,0.49,30537296.0,58582.0,-9.26,NaN,-81.82,37872951.0,44.64,...,1.1,0.49,2104686.0,75266866.0,0.41,76899211.0,23299872.0,1.224822e+10,144807746.0,84262064.0
13024,2882,2023-08-28,0.49,30537296.0,58582.0,-9.26,NaN,-81.82,37872951.0,44.64,...,1.1,0.49,2104686.0,75266866.0,0.41,76899211.0,23299872.0,1.224822e+10,144807746.0,84262064.0

3.4.2、財務包含公司自結數與會計師核閱

In [9]:
columns =['Total_Operating_Cost','Sales_Per_Share','Return_Rate_on_Equity_A_percent',
       'Proceeds_from_Disposal_of_Fixed_and_Intangible_Assets',
       'Cash_Flow_from_Operating_Activities', 
       'Other_Adjustment_from_Operating_Activities', 'Borrowings',       
       'Total_Operating_Expenses', 'Gross_Margin_Rate_percent',
       'Sales_Growth_Rate', 'Net_Income_Per_Share','Total_Assets',
       'Short_Term_Borrowings_Financial_Institutions',
       'Pre_Tax_Income_Growth_Rate', 'Total_Equity_Growth_Rate',
       'Total_Operating_Income','Total_Assets_Turnover',
       'Operating_Income_Per_Share','Pre_Tax_Income_Rate_percent', 
       'Gross_Profit_Loss_from_Operations','Return_on_Total_Assets',
       'Depreciation_and_Amortisation','Total_Interest_Income',
       'Fixed_Asset_Turnover', 'Decrease_Increase_in_Prepayments',]

fin_type = ['A','Q']

data = TejToolAPI.get_history_data(ticker=tickers, columns=columns, transfer_to_chinese=True, fin_type=fin_type, include_self_acc='Y')
data

,股票代碼,日期,毛利_A,營業總收入_A,營業毛利率_A,營收成長率_A,稅前淨利成長率_A,稅前淨利率_A,毛利_Q,營業總收入_Q,...,常續ROE_Q,每股稅後淨利_Q,折舊及攤提_Q,其他營運現金_Q,固定資產週轉率_Q,金融借款_流動_Q,營業費用_Q,資產總計_Q,長短期借款_Q,營運產生現金流量_Q
0,2317,2013-01-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2317,2013-01-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2317,2013-01-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2317,2013-01-07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2317,2013-01-08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13020,2882,2023-08-22,30537296.0,162298035.0,44.64,-31.75,-39.36,23.82,30537296.0,93887788.0,...,1.1,0.49,2104686.0,75266866.0,0.41,76899211.0,23299872.0,1.224822e+10,144807746.0,84262064.0
13021,2882,2023-08-23,30537296.0,162298035.0,44.64,-31.75,-39.36,23.82,30537296.0,93887788.0,...,1.1,0.49,2104686.0,75266866.0,0.41,76899211.0,23299872.0,1.224822e+10,144807746.0,84262064.0
13022,2882,2023-08-24,30537296.0,162298035.0,44.64,-31.75,-39.36,23.82,30537296.0,93887788.0,...,1.1,0.49,2104686.0,75266866.0,0.41,76899211.0,23299872.0,1.224822e+10,144807746.0,84262064.0
13023,2882,2023-08-25,30537296.0,162298035.0,44.64,-31.75,-39.36,23.82,30537296.0,93887788.0,...,1.1,0.49,2104686.0,75266866.0,0.41,76899211.0,23299872.0,1.224822e+10,144807746.0,84262064.0
13024,2882,2023-08-28,30537296.0,162298035.0,44.64,-31.75,-39.36,23.82,30537296.0,93887788.0,...,1.1,0.49,2104686.0,75266866.0,0.41,76899211.0,23299872.0,1.224822e+10,144807746.0,84262064.0

### 4、以下範例示範運用 TejToolAPI U 一鍵抓取不同資料庫的欄位與整併。
- **股價資料庫(日頻)**
    - 開盤價、收盤價
- **籌碼資料庫(日頻)**
    - 外資買賣超張數、合計買賣超張數
- **交易註記資料庫(日頻)**
    - 是否為注意股票、是否暫停交易、是否為臺灣50成分股、是否為處置股票、分盤間隔時間
- **集保資料庫(周頻)**
    - 800-1000張集保占比、800-1000張集保張數    
- **財報資料庫(季頻)**
    - 營業毛利成長率_Q、營業利益成長率_Q、稅後淨利率_Q

In [10]:
# 輸入欄位
icolumns = ['Open','Close','Qfii_Diff_Vol','Total_Diff_Vol','Custodied_Lots_Between_800_1000_Total_Lots','Custodied_Lots_Between_800_1000_Pct',
           'Attention_Stock_Fg','Disposition_Stock_Fg','Matching_Period','Suspended_Trading_Stock_Fg','Component_Stock_of_TWN50_Fg','Gross_Margin_Growth_Rate','Net_Income_Rate_percent','Operating_Income_Growth_Rate']
# TEJTOOLAPI整併
data = TejToolAPI.get_history_data(ticker=tickers[:5], 
                                   columns=icolumns,
                                   transfer_to_chinese=True, 
                                   fin_type = ['Q'],
                                   start = '2015-01-01', end = '2022-12-31')
data.sort_values(by=['日期','股票代碼']).tail(10)

,股票代碼,日期,開盤價,收盤價,外資買賣超張數,合計買賣超張數,是否為注意股票,是否為臺灣50成分股,是否暫停交易,分盤間隔時間,是否為處置股票,800-1000張集保張數,800-1000張集保占比,稅後淨利率_Q,營業利益成長率_Q,營業毛利成長率_Q
1956,2317,2022-12-29,100.00,99.7,-19473.0,-19196.0,,Y,,0.0,,85676.0,0.61,2.39,34.14,21.49
3914,2330,2022-12-29,444.00,446.0,-5899.0,-4854.0,,Y,,0.0,,204793.0,0.78,45.82,81.47,74.15
5872,2454,2022-12-29,630.00,629.0,-553.0,-327.0,,Y,,0.0,,51117.0,3.19,21.87,12.86,14.50
7830,2881,2022-12-29,56.10,56.0,-2490.0,-1978.0,,Y,,0.0,,81630.0,0.65,22.84,-62.40,-47.05
9788,2882,2022-12-29,40.50,40.1,-1219.0,-1446.0,,Y,,0.0,,97837.0,0.74,7.52,-79.09,-45.94
1957,2317,2022-12-30,100.00,99.9,-183.0,-1067.0,,Y,,0.0,,85676.0,0.61,2.39,34.14,21.49
3915,2330,2022-12-30,455.00,448.5,-166.0,132.0,,Y,,0.0,,204793.0,0.78,45.82,81.47,74.15
5873,2454,2022-12-30,635.00,625.0,-300.0,-292.0,,Y,,0.0,,51117.0,3.19,21.87,12.86,14.50
7831,2881,2022-12-30,56.50,56.3,1231.0,1153.0,,Y,,0.0,,81630.0,0.65,22.84,-62.40,-47.05
9789,2882,2022-12-30,39.75,40.0,21840.0,49454.0,,Y,,0.0,,97837.0,0.74,7.52,-79.09,-45.94

抓取股價資料庫與籌碼料庫

In [12]:
columns = ['Open','High','Low','Close','Adjust_Factor','Volume_1000_Shares','Value_Dollars'
           'Transaction','Last_Bid','Last_Offer','Average_Trade_Price','ROI','High_Low_Diff','Turnover'
           'Issue_Shares_1000_Shares','Market_Cap_Dollars','Market_Cap_Percentage','Trade_Value_Percentage'
           'PER_TWSE','PBR_TWSE','Dividend_Yield_TWSE','Cash_Dividend_Yield_TEJ',
           'Qfii_Buy_Vol','Qfii_Sell_Vol','Qfii_Diff_Vol','Qfii_Buy_Amt','Qfii_Sell_Amt','Qfii_Diff_Amt','Qfii_Stock_Holding_Pct','Fund_Buy_Vol',
           'Fund_Sell_Vol','Fund_Diff_Vol','Fund_Buy_Amt','Fund_Sell_Amt','Fund_Diff_Amt','Fund_Stock_Holding_Pct','Dealer_Proprietary_Buy_Vol','Dealer_Proprietary_Sell_Vol','Dealer_Proprietary_Diff_Vol','Dealer_Proprietary_Buy_Amt',
           'Dealer_Proprietary_Sell_Amt','Dealer_Proprietary_Diff_Amt','Dealer_Hedge_Buy_Vol','Dealer_Hedge_Sell_Vol','Dealer_Hedge_Diff_Vol','Dealer_Hedge_Buy_Amt','Dealer_Hedge_Sell_Amt','Dealer_Hedge_Diff_Amt',
           'Dealer_Stock_Holding_Pct','Total_Buy_Vol','Total_Sell_Vol','Total_Diff_Vol','Total_Buy_Amt','Total_Sell_Amt','Total_Diff_Amt'
            ]
data = TejToolAPI.get_history_data(ticker=ticker, 
                                   columns=columns,
                                   transfer_to_chinese=False, 
                                   start = '2015-01-01', end = '2022-12-31')
data

,coid,mdate,Volume_1000_Shares,Last_Bid,Low,Adjust_Factor,Close,Dividend_Yield_TWSE,Average_Trade_Price,High_Low_Diff,...,Total_Buy_Vol,Dealer_Hedge_Sell_Amt,Dealer_Hedge_Diff_Vol,Dealer_Proprietary_Diff_Vol,Dealer_Proprietary_Sell_Vol,Dealer_Hedge_Buy_Vol,Total_Sell_Amt,Dealer_Hedge_Buy_Amt,Dealer_Proprietary_Diff_Amt,Qfii_Sell_Vol
0,2317,2015-01-05,25369.0,87.10,86.90,0.713591,87.20,3.44,87.1430,1.0239,...,4761.0,62871.0,-554.0,-72.0,82.0,167.0,1539690.0,14562.0,-6278.0,15868.0
1,2317,2015-01-06,65967.0,84.50,84.50,0.713591,84.50,3.55,85.0635,1.7202,...,8888.0,228911.0,-2632.0,-274.0,329.0,77.0,4040537.0,6507.0,-23153.0,43700.0
2,2317,2015-01-07,33872.0,85.20,84.30,0.713591,85.20,3.52,85.1448,1.7751,...,10731.0,38596.0,927.0,-406.0,406.0,1380.0,1690538.0,117576.0,-34591.0,18131.0
3,2317,2015-01-08,31001.0,86.80,85.70,0.713591,86.90,3.45,86.5595,1.5258,...,16454.0,5735.0,3359.0,446.0,1158.0,3425.0,805215.0,297633.0,38757.0,7197.0
4,2317,2015-01-09,22801.0,86.40,86.50,0.713591,86.50,3.47,87.0498,1.4960,...,4323.0,146618.0,-993.0,-1506.0,1517.0,702.0,800039.0,60723.0,-130269.0,5918.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9785,2882,2022-12-26,9586.0,40.95,40.90,0.979615,41.00,8.54,41.0206,0.7290,...,3842.0,13899.0,1604.0,-148.0,152.0,1943.0,199752.0,79663.0,-6068.0,4362.0
9786,2882,2022-12-27,8308.0,41.15,41.00,0.979615,41.15,8.51,41.1721,0.7317,...,6263.0,9835.0,1688.0,-53.0,105.0,1927.0,97563.0,79296.0,-2181.0,1969.0
9787,2882,2022-12-28,16443.0,40.65,40.60,0.979615,40.65,8.61,40.8318,1.2151,...,9797.0,11789.0,1368.0,-1048.0,1124.0,1658.0,397528.0,67398.0,-42601.0,8166.0
9788,2882,2022-12-29,17280.0,40.10,40.05,0.979615,40.10,8.73,40.2375,1.3530,...,10078.0,77553.0,-831.0,-170.0,212.0,1103.0,462129.0,44230.0,-6817.0,9363.0
9789,2882,2022-12-30,102514.0,40.00,39.60,0.979615,40.00,8.75,40.0086,1.6209,...,70432.0,80.0,25784.0,1418.0,8726.0,25786.0,839147.0,1031440.0,56720.0,12116.0

抓取財務資料(default:僅會計師核閱)

In [13]:
ticker = ['2881', '1101','9958','2330']
columns = ['r404','r401','eps']
fin_type = ['A','Q']
data = TejToolAPI.get_history_data(ticker=ticker, columns=columns,transfer_to_chinese=True, fin_type=fin_type)
data

,股票代碼,日期,營收成長率_A,稅前淨利成長率_A,母公司每股盈餘_A,營收成長率_Q,稅前淨利成長率_Q,母公司每股盈餘_Q
0,1101,2013-01-02,NaN,NaN,NaN,NaN,NaN,NaN
1,1101,2013-01-03,NaN,NaN,NaN,NaN,NaN,NaN
2,1101,2013-01-04,NaN,NaN,NaN,NaN,NaN,NaN
3,1101,2013-01-07,NaN,NaN,NaN,NaN,NaN,NaN
4,1101,2013-01-08,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
10415,9958,2023-08-22,48.67,-44.39,1.2,84.9,549.26,0.99
10416,9958,2023-08-23,48.67,-44.39,1.2,84.9,549.26,0.99
10417,9958,2023-08-24,48.67,-44.39,1.2,84.9,549.26,0.99
10418,9958,2023-08-25,48.67,-44.39,1.2,84.9,549.26,0.99
10419,9958,2023-08-28,48.67,-44.39,1.2,84.9,549.26,0.99

抓取財務資料僅會計師核閱

In [14]:
ticker = ['2881', '1101','9958','2330']
columns = ['r404','r401','eps']
fin_type = ['A','Q']
data = TejToolAPI.get_history_data(ticker=ticker, columns=columns,transfer_to_chinese=True, fin_type=fin_type, include_self_acc='N')
data

,股票代碼,日期,營收成長率_A,稅前淨利成長率_A,母公司每股盈餘_A,營收成長率_Q,稅前淨利成長率_Q,母公司每股盈餘_Q
0,1101,2013-01-02,NaN,NaN,NaN,NaN,NaN,NaN
1,1101,2013-01-03,NaN,NaN,NaN,NaN,NaN,NaN
2,1101,2013-01-04,NaN,NaN,NaN,NaN,NaN,NaN
3,1101,2013-01-07,NaN,NaN,NaN,NaN,NaN,NaN
4,1101,2013-01-08,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
10415,9958,2023-08-22,48.67,-44.39,1.2,84.9,549.26,0.99
10416,9958,2023-08-23,48.67,-44.39,1.2,84.9,549.26,0.99
10417,9958,2023-08-24,48.67,-44.39,1.2,84.9,549.26,0.99
10418,9958,2023-08-25,48.67,-44.39,1.2,84.9,549.26,0.99
10419,9958,2023-08-28,48.67,-44.39,1.2,84.9,549.26,0.99

抓取財務資料含自結數

In [15]:
ticker = ['2881', '1101','9958','2330']
columns = ['r404','r401','eps']
fin_type = ['A','Q']
data = TejToolAPI.get_history_data(ticker=ticker, columns=columns, transfer_to_chinese=True, fin_type=fin_type, include_self_acc='Y')
data

,股票代碼,日期,營收成長率_A,稅前淨利成長率_A,母公司每股盈餘_A,營收成長率_Q,稅前淨利成長率_Q,母公司每股盈餘_Q
0,1101,2013-01-02,NaN,NaN,NaN,NaN,NaN,NaN
1,1101,2013-01-03,NaN,NaN,NaN,NaN,NaN,NaN
2,1101,2013-01-04,NaN,NaN,NaN,NaN,NaN,NaN
3,1101,2013-01-07,NaN,NaN,NaN,NaN,NaN,NaN
4,1101,2013-01-08,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
10415,9958,2023-08-22,48.67,-44.39,1.2,84.9,549.26,0.99
10416,9958,2023-08-23,48.67,-44.39,1.2,84.9,549.26,0.99
10417,9958,2023-08-24,48.67,-44.39,1.2,84.9,549.26,0.99
10418,9958,2023-08-25,48.67,-44.39,1.2,84.9,549.26,0.99
10419,9958,2023-08-28,48.67,-44.39,1.2,84.9,549.26,0.99

## 股價資料/籌碼/月營收/集保資料/交易日期表
### ticker
- 單一股票
- 多股
### columns
- 欄位 not within table 時的錯誤訊息
### transfer_chinese_columns
預設 transfer_chinese_columns = False
- 測試欄位轉換成中文(transfer_chinese_columns = True)

In [16]:
ticker = ['2330']
columns = ['開盤價','收盤價','產業別_中文','調整係數','shares', 'vol_dt','vol_dtp']
data = TejToolAPI.get_history_data(ticker=ticker, columns=columns, transfer_to_chinese=True, include_self_acc = 'Y')
data

,股票代碼,日期,調整係數,收盤價,期末股數,開盤價,當沖成交股數_千股,當沖買賣占比,產業別_中文,期末股數_A,期末股數_Q,期末股數_TTM
0,2330,2013-01-02,0.731226,99.6,25924436.0,97.6,NaN,NaN,M2324 半導體業指數,NaN,NaN,NaN
1,2330,2013-01-03,0.731226,101.0,25924436.0,100.5,NaN,NaN,M2324 半導體業指數,NaN,NaN,NaN
2,2330,2013-01-04,0.731226,101.5,25924436.0,100.5,NaN,NaN,M2324 半導體業指數,NaN,NaN,NaN
3,2330,2013-01-07,0.731226,100.5,25924436.0,101.0,NaN,NaN,M2324 半導體業指數,NaN,NaN,NaN
4,2330,2013-01-08,0.731226,99.7,25924436.0,99.6,NaN,NaN,M2324 半導體業指數,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
2600,2330,2023-08-22,1.000000,541.0,25932071.0,544.0,2471.0,16.64,M2324 半導體業指數,25932070.99,25932070.99,NaN
2601,2330,2023-08-23,1.000000,552.0,25932071.0,546.0,2798.0,12.89,M2324 半導體業指數,25932070.99,25932070.99,NaN
2602,2330,2023-08-24,1.000000,564.0,25932071.0,563.0,4633.0,18.98,M2324 半導體業指數,25932070.99,25932070.99,NaN
2603,2330,2023-08-25,1.000000,546.0,25932071.0,549.0,3335.0,12.93,M2324 半導體業指數,25932070.99,25932070.99,NaN
2604,2330,2023-08-28,1.000000,549.0,25932071.0,547.0,1354.0,14.43,M2324 半導體業指數,25932070.99,25932070.99,NaN

In [17]:
ticker = ['2881', '1101','9958']
columns = ['開盤價','收盤價']
data = TejToolAPI.get_history_data(ticker=ticker, columns=columns, include_self_acc = 'N')
data

      coid      mdate    Open   Close
0     1101 2013-01-02   38.95   39.00
1     1101 2013-01-03   39.50   38.85
2     1101 2013-01-04   39.40   39.00
3     1101 2013-01-07   39.10   38.90
4     1101 2013-01-08   38.90   38.50
...    ...        ...     ...     ...
7810  9958 2023-08-22  141.00  138.00
7811  9958 2023-08-23  138.00  142.00
7812  9958 2023-08-24  143.00  142.50
7813  9958 2023-08-25  142.50  144.00
7814  9958 2023-08-28  145.50  150.00

[7815 rows x 4 columns]

In [18]:
ticker = ['2881', '1101','9958']
columns = ['開盤價','收盤價', 'roi', 'd0001', 'eps', '外資買進金額_元','集保庫存股數_千股','是否為臺灣50成分股', 'share']
data = TejToolAPI.get_history_data(ticker=ticker, columns=columns, transfer_to_chinese=True, start = '2022-01-01', end = '2022-12-31')
data

,股票代碼,日期,收盤價,開盤價,報酬率,外資買進金額_元,是否為臺灣50成分股,單月營收_千元,集保庫存股數_千股,母公司每股盈餘_A,母公司每股盈餘_Q,母公司每股盈餘_TTM
0,1101,2022-01-03,47.45,48.05,-1.1458,283963.0,Y,NaN,NaN,NaN,NaN,NaN
1,1101,2022-01-04,47.30,47.50,-0.3161,203135.0,Y,NaN,NaN,NaN,NaN,NaN
2,1101,2022-01-05,47.15,47.10,-0.3171,326382.0,Y,NaN,NaN,NaN,NaN,NaN
3,1101,2022-01-06,47.60,47.30,0.9544,445733.0,Y,NaN,NaN,NaN,NaN,NaN
4,1101,2022-01-07,47.45,47.60,-0.3151,327354.0,Y,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
733,9958,2022-12-26,86.20,88.40,-3.0371,27325.0,,944060.0,232396.0,2.2,0.68,NaN
734,9958,2022-12-27,88.00,86.20,2.0882,39424.0,,944060.0,232396.0,2.2,0.68,NaN
735,9958,2022-12-28,91.90,88.00,4.4318,312864.0,,944060.0,232396.0,2.2,0.68,NaN
736,9958,2022-12-29,90.80,90.90,-1.1970,112229.0,,944060.0,232396.0,2.2,0.68,NaN
737,9958,2022-12-30,88.60,90.90,-2.4229,8063.0,,944060.0,232396.0,2.2,0.68,NaN

In [19]:
data.sort_values(['股票代碼','日期'])

,股票代碼,日期,收盤價,開盤價,報酬率,外資買進金額_元,是否為臺灣50成分股,單月營收_千元,集保庫存股數_千股,母公司每股盈餘_A,母公司每股盈餘_Q,母公司每股盈餘_TTM
0,1101,2022-01-03,47.45,48.05,-1.1458,283963.0,Y,NaN,NaN,NaN,NaN,NaN
1,1101,2022-01-04,47.30,47.50,-0.3161,203135.0,Y,NaN,NaN,NaN,NaN,NaN
2,1101,2022-01-05,47.15,47.10,-0.3171,326382.0,Y,NaN,NaN,NaN,NaN,NaN
3,1101,2022-01-06,47.60,47.30,0.9544,445733.0,Y,NaN,NaN,NaN,NaN,NaN
4,1101,2022-01-07,47.45,47.60,-0.3151,327354.0,Y,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
733,9958,2022-12-26,86.20,88.40,-3.0371,27325.0,,944060.0,232396.0,2.2,0.68,NaN
734,9958,2022-12-27,88.00,86.20,2.0882,39424.0,,944060.0,232396.0,2.2,0.68,NaN
735,9958,2022-12-28,91.90,88.00,4.4318,312864.0,,944060.0,232396.0,2.2,0.68,NaN
736,9958,2022-12-29,90.80,90.90,-1.1970,112229.0,,944060.0,232396.0,2.2,0.68,NaN
737,9958,2022-12-30,88.60,90.90,-2.4229,8063.0,,944060.0,232396.0,2.2,0.68,NaN